PORT=3000
CLIENT_ID=YOUR_DERIV_CLIENT_ID
CLIENT_SECRET=YOUR_DERIV_CLIENT_SECRET
REDIRECT_URI=http://localhost:3000/callback
AUTH_URL=https://oauth.deriv.com/oauth2/authorize
TOKEN_URL=https://oauth.deriv.com/oauth2/token